<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.redwine.dao.AdminDao" >
  <resultMap id="AdminResultMap" type="com.lj.redwine.pojo.Admin" >
    <id column="admin_id" property="admin_id" jdbcType="INTEGER" />
    <result column="admin_name" property="admin_name" jdbcType="VARCHAR" />
    <result column="admin_password" property="admin_password" jdbcType="VARCHAR" />
   </resultMap>
    <!-- 管理员登录 -->
  	<select id="adminLogin" parameterType="Map" resultType="com.lj.redwine.pojo.Admin">
  		select admin_id from admin where admin_name = #{admin_name} and admin_password = #{admin_password}
  	</select>
</mapper>